/* css variables at root */

:root {
  --light: rgb(217, 242, 251);
  --bradius: 25px;
  --darker: rgb(5, 87, 116);
  --darkest: rgb(0, 50, 60);
}

/* global styles */

* {
  color: var(--light);
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
}

/* individual selectors */

body {
  /* background-color: rgb(203, 240, 254); */
  background-image: url(../images/backgroundimg.jpg);
  overflow: hidden;
}

text {
  position: absolute;
  right: 40px;
  margin-top: 30px;
  color: var(--light);
  font-size: 30px;
  font-weight: bold;
}

a {
  color: var(--light);
  cursor: pointer;
}

p {
  margin-right: 220px;
}

h2 {
  font-size: 35px;
  padding: 50px;
  border-right: solid var(--light);
}

/* Header  */

header {
  padding: 5px;
  background-color: rgb(53, 55, 55);
  opacity: 0.6;
}

h1 {
  display: inline-block;
  font-size: 28px;
  margin-left: 20px;
  color: rgb(53, 55, 55);
  background-color: var(--light);
  padding: 5px;
  font-family: "Prosto One", cursive;
}

header li {
  display: inline-block;
  margin-left: 25px;
  font-weight: bold;
  opacity: 1;
}

nav {
  position: absolute;
  padding-top: 15px;
  margin-right: 0px;
  top: 15px;
  right: 20px;
}

.header-img {
  background-image: url("../images/blueheader.png");
  height: 90px;
  width: 100%;
  opacity: 0.7;
}

/* about me section  */

#about-me {
  margin-top: 150px;
}

.pfp {
  border-radius: 60px;
  max-height: 210px;
  max-width: 120px;
  min-width: 100px;
  opacity: 0.9;
}

/* project section  */
#projects {
  margin-top: 150px;
  align-items: center;
}

#projects img {
  border-radius: var(--bradius);
  max-width: 300px;
  min-width: 300px;
  max-height: 200px;
  min-height: 200px;
}

/* certs section/ */

.certs {
  margin-top: 150px;
}

.slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1%;
  margin-left: 1%;
}

.slideshow img {
  position: relative;
  bottom: 110px;
  width: 550px;
  height: 400px;
  opacity: 0.9;
}

.slideshow button {
  transform: translateY(-360%);
  font-size: 24px;
  background: transparent;
  border-radius: 10px;
  border: none;
  color: white;
}

/* resume section */

#resume {
  margin-top: 150px;
}

.resumeBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: var(--bradius);
  margin-top: 40px;
}

/* contact-me section */

#contact {
  margin-top: 150px;
}

.favicondiv h3 {
  font-size: 20px;
  align-items: center;
  margin-top: 10px;
}

.favicon {
  border-radius: 90px;
  max-width: 60px;
}

.favicondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
/* psuedo class effects */

a img:hover,
button:hover {
  opacity: 0.7;
  box-shadow: 5px 5px 5px var(--light);
}

header li a:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 5px var(--light);
  padding: 1px;
  border-radius: 5px;
}

.slideshow button:hover {
  color: lightgray;
}

.slideshow button:first-of-type {
  left: 10px;
}

.slideshow button:last-of-type {
  right: 10px;
}

.transition {
  transition: 0.5s ease-in-out;
}

/* psuedo classes for veiwport changes */

/* googlefontapi */

@import url("https://fonts.googleapis.com/css2?family=Caramel&family=Prosto+One&family=Ubuntu:wght@300&display=swap");

/*
----declarations avaliable----

font-family: 'Caramel', cursive;
font-family: 'Prosto One', cursive;
font-family: 'Ubuntu', sans-serif; 

*/

/* scroll section  */

#downArrow a {
  padding-top: 70px;
}
#downArrow a span {
  position: absolute;
  top: 670px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2.5px solid var(--light);
  border-bottom: 2.5px solid var(--light);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
